<div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> 
    <!-- .site-mobile-menu -->
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo"><a href="/">U|Hub</a></h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li>
                         <a href="/">Home</a>
                      </li>
                      <li class="has-children">
                        <a href="#">Download</a>
                        <ul class="dropdown arrow-top">
                          <li><a href="#">Notes</a></li>
                           <li><a href="ebooksearch">Ebook</a></li>
                          <li><a href="mqp">Model Question Paper</a></li>
                          <!-- <li class="has-children">
                            <a href="#">Previous Year Question Papers</a>
                            <ul class="dropdown">
                              <li><a href="#">2018-19</a></li>
                              <li><a href="#">2017-18</a></li>
                              <li><a href="#">2016-17</a></li>
                              <li><a href="#">2015-16</a></li>
                              
                            </ul>
                          </li> -->

                        </ul>
                      </li>
                      
                        <li><a href="upload">Upload</a></li>
                      <li><a href="#bottom">About</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- hi -->