<html>
    <head>
        <title>blogpage
        </title>
        <% include ../include/head %>
        <style>
        #blogtitle {
            margin-left: 10px;
            width: 400px;
            padding: 2px;
            border: 1px solid #D3D3D3;
            background-color:white;
        }
        </style>
        
    </head>
    <body style="background-color:rgb(248, 248, 248);" >
        <% include ../include/nev %>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="blogtitle">
            <h2 style=" color: black;">blog title</h2>
        </div>
        
        
            
          
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <% include ../include/footer %>
    <% include ../include/script %>
    </body>
    
</html>